@import "/data/css/main.css";

:root {
    --gamesListRowHeight: 50px;
}


#gamesTableDiv {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
    width: 293px;
    margin: 0 auto;
    text-align: center;
}

.gamePreviewsTable {
    border-collapse: collapse;
    border-spacing: 15px;
}

.gamePreviewsTable tr:first-child {
    height: var(--gamesListRowHeight);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    background-color: Gainsboro;
    cursor: pointer;
}


.gamePreviewsInfo {
    height: var(--gamesListRowHeight);
    border-bottom: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    background-color: Gainsboro;
    cursor: pointer;
}

.gamePreviews {
    height: var(--gamesListRowHeight);
}

.gamePreviewsAbbr, .gamePreviewsAt {
    color: white;
    text-shadow: var(--textShadowForAbbr);
}

.gamePreviewsLogo {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-spacing: 0px;
    width: var(--gamesListRowHeight);
    height: var(--gamesListRowHeight);
}

.gamePreviewsLogoImg {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}