
.teamInfo, .gameScoreBoardTable{
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
}

.teamGameStatus, .goalInfo {
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
    text-shadow: navy 0px 0px 1px, navy 0px 0px 1px, navy 0px 0px 1px, navy 0px 0px 1px, navy 0px 0px 1px, navy 0px 0px 1px, navy 0px 0px 1px;
}

.gameScoreBoardTable {
    border: none;
    font-size: 40px;
    border-spacing: 0px;
}

.gameScoreBoardStatusInfoRow {
    font-size: 15px;
    text-align: center;
}

.gameScoreBoardStatusInfo {
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
}

.teamOneScoreboardShotsOnGoal {
    border-top-left-radius: 13px;
    border-left: 3px solid;
    border-bottom-left-radius: 13px;
}

.teamTwoScoreboardShotsOnGoal {
    border-top-right-radius: 13px;
    border-right: 3px solid;
    border-bottom-right-radius: 13px;
}

.gameScore {
    display: inline-block;
    /* border: solid; */
    vertical-align: middle;
    border-radius: 15px;
    /* color: */
}


.teamScoreboardAbbr, .teamScoreboardScore {
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
    vertical-align: middle;
    text-align: center;
    background-color: Gainsboro;
    /* text-shadow: white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px; */
}

.teamOneScoreboardAbbr {
    background-color: blue;
}


.teamTwoScoreboardAbbr {
    background-color: yellow;
}


.teamScoreboardAbbr {
    color: white;
    min-width: 80px;
    border-color: black;
    text-shadow: black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px,
    black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px;
}

.teamScoreboardScore {
    min-width: 75px;
}

.teamScoreboardLogo {
    background-color: Gainsboro;
}


.teamOneScoreboardLogo {
    background-color: blue;
    border-right: 3px solid;
    border: 3px solid;
    min-width: 75px;
    min-height: 75px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    margin: 0;
    padding: 0;
    overflow: hidden
}


.teamTwoScoreboardLogo {
    background-color: yellow;
    border: 3px solid;
    border-left: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    margin: 0;
    padding: 0;
    overflow: hidden
}



.scoreboardLogoImg {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}